{% extends "base.html" %}
{% block title %}Add Course Review{% endblock %}
{% block content %}
  <h1>Add Course Review</h1>
  <form method="POST" action="">
    <label>Review ID</label>
    <input type="number" name="review_id"> <br />
    <label>Course ID</label>
    <input type="number" name="course_id" ><br />
    <label>Semester</label>
    <input type="text" name="semester"><br />
    <label for="reviewbox">Review</label>
    <textarea id="reviewbox" name="review"></textarea><br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}