{% extends "base.html" %}
{% block title %}Delete Entry{% endblock %}
{% block content %}
  <h1>Delete Entry</h1>
  <form method="post" action="">
    <input type="radio" id="student" name="deleteID" value="Student">
    <label for="student">Student</label><br>
    <input type="radio" id="professor" name="deleteID" value="professor">
    <label for="professor">Professor</label><br>
    <label for="InputID">ID to be Deleted</label>
    <input type="number" id="InputID">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}