{% extends "base.html" %}
{% block title %}Edit Student Schedule Result{% endblock %}
{% block content %}
<div id="studentScheduleLanding"></div>
<script>
  var resultString = "{{studentScheduleLanding}}"
  var studentScheduleLanding = resultString.split('\t')

  var str = '<h1>List of Student Courses</h1><ul>'
  studentScheduleLanding.forEach(function(r) {
    if(r !== ''){
      str += '<li>'+ r + '</li>';
    }
  }); 
  str += '</ul>';

  document.getElementById("studentScheduleLanding").innerHTML = str;
</script>
{% endblock %}