{% extends "base.html" %}
{% block title %}Edit Professor{% endblock %}
{% block content %}
  <h1>Edit Professor</h1>
  <form method="post" action="">
    <label for="InputID">Professor ID</label>
    <input type="number" name="id"><br />
    <label for="InputName">Name</label>
    <input type="text" name="name"><br />
    <label for="InputDept">Department</label>
    <input type="text" name="dept"><br />
    <label for="InputJoin">Join Date</label>
    <input type="date" name="joined"><br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}