{% extends "base.html" %}
{% block title %}View Student Schedule{% endblock %}
{% block content %}
<div id="studentSchedule"></div>
<script>
  var studentScheduleString = "{{studentSchedule}}"
  var studentSchedule = studentScheduleString.split('\t')

  var str = '<h1>List of Student Courses</h1><ul>'
  studentSchedule.forEach(function(studentCourse) {
    if(studentCourse !== ''){
      str += '<li>'+ studentCourse + '</li>';
    }
  }); 
  str += '</ul>';

  document.getElementById("studentSchedule").innerHTML = str;
</script>
{% endblock %}