{% extends "base.html" %}

{% block content %}
  <table id="major_data" class="table table-striped">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Birthday</th>
        <th>Major</th>
        <th>Enrollment Date</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ student.student_id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.birthdate }}</td>
          <td>{{ student.major }}</td>
          <td>{{ student.enrollment_date }}</td>
        </tr>
    </tbody>
  </table>
{% endblock %}